*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  margin: 0;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/* ヘッダー */
header {
  height: 75px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.header-logo{
  height: 75px;
}

.header-menu{
  padding-right: 16px;
}

.header-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-menu a{
  font-size: 13px;
  font-weight: bold;
  color: darkslateblue;
  text-decoration: none;
  width: 100px;
  text-align: center;
  line-height: 75px;
  display: block;
  transition: all 0.5s;
}

.header-menu a:hover{
  color:skyblue;
}

.sp-menu{
  opacity: 0;
}

.overlay{
  opacity: 0;
  position: fixed;
}

/* トップ */
main{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 180px 0 180px;
  text-align: center;
  background: center/cover url("../img/top.jpg");
  margin-bottom: 30px;
}

.title{
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
  color: darkslateblue
}

.title h1{
  font-size :45px;
  font-weight: normal;
  font-family: 'Kiwi Maru', sans-serif;
}

.title h2{
  font-size :36px;
  font-weight: normal;
  font-family: 'Kiwi Maru', sans-serif;
}
.title p{
  font-size: 15px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 1;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn-wrapper {
  margin: 20px 0;
  text-align: center;
}

.btn-wrapper p {
  margin: 10px 0;
}

.fa {
  margin-right: 5px;
}

/* 記事 */
.section{
  margin: 100px auto;
  text-align: center;
  color: darkslateblue;
}

.head{
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
}

.head h1{
  font-size :24px;
  border-bottom: 1px solid darkslateblue;
}

.head h2{
  font-size :18px;
}

.article p{
  font-size: 15px;
  text-indent: 1em;
  text-align: start;
  line-height: 2.5;
}

.article{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 200px auto;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.post1{
  background: center/cover url("../img/実績.jpeg");
  width: 500px;
  padding: 70px 0 70px 0;
}

.post2{
  background: center/cover url("../img/ローラー.jpeg");
  width: 500px;
  padding: 70px 0 70px 0;
}

.post3{
  background: center/cover url("../img/足場.jpeg");
  width: 500px;
  padding: 70px 0 70px 0;
}

.post4{
  background: center/cover url("../img/屋根塗装.jpeg");
  width: 500px;
  padding: 70px 0 70px 0;
}

.introduce{
  width: calc(100% - 500px - 25px);
}

.jio{
  display: flex;
  margin: 10px;
}

.jio img{
  height: 50px;
  margin: 5px;
}

/* 会社概要 */

.profile h1,.price h1{
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid darkslateblue;
}

.profile h2,.price h2{
  font-size: 18px;
  text-align: center;
}

.profile p,.price p{
  font-size: 15px;
  text-indent: 1em;
  line-height: 2.5;
}

.company-profile{
  margin: 100px auto;
  width: 90%;
  color: darkslateblue;
}

.company-profile h1{
  margin-bottom: 50px;
}

.company-profile table {
  border-collapse: collapse;
  margin: 50px auto;
}

.company-profile th,.company-profile td {
  border: solid 1px #fafafc;
  padding: 20px;
  font-size: 15px;
}

.company-profile th {
  width: 25%;
  text-align: left;
  background-color: darkslateblue;
  color: #ffffff;
}

.company-profile td {
  background-color: rgb(218, 214, 247);
  width: 65%;
}

.plan{
  margin: 50px 20px;
  padding: 10px;
  border: 2px solid limegreen;
  border-radius: 10px;
}

.price{
  margin: 100px auto 300px;
  width: 90%;
  color: darkslateblue;
  text-align: center;
}

.price table {
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 15px;
  width: 100%;
}

.price th,.price td{
  padding: 20px;
  border: solid 1px #161b1b;
}

.price th{
  background-color: rgb(9, 153, 86);
  color: white;
}

.price td{
  background-color: rgb(236, 248, 246);
}

.greeting{
  margin: 100px auto 300px;
  width: 90%;
  color: darkslateblue;
}

.message{
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.message img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.message ul{
  list-style: none;
  font-size: 14px;
  text-align: start;
  margin: 20px auto;
  display: inline-block;
}

.icon{
  width: 35%;
}

.column{
  width: 55%;
}

.column p{
  text-align: start;
  font-size: 15px;
  line-height: 2.5;
}

.column h2{
  font-size: 18px;
  text-align: end;
  margin: 50px 10px 0 0;
}

/* 問い合わせ */
.contact{
  width: 90%;
  margin: 200px auto;
  color: darkslateblue;
}

.contact h1{
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px solid darkslateblue;
}

.contact p{
  font-size: 14px;
  line-height: 2.5;
}

.caution p{
  font-size: 12px;
}

.form{
  width: 80%;
  margin: 0 auto;
}

form p {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

textarea {
  height: 120px;
}

input[type="submit"] {
  background-color: #ffaa00;
  border-radius: 4px;
  border: none;
  -webkit-appearance: none;
  width: 250px;
}

.submit-btn{
  text-align: center;
}

/* ページ内リンク */
.page-link{
  padding-top: 100px;
  margin-top:-100px;
}

footer{
  margin: 200px 0 20px;
}

footer p{
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.fixed-footer{
  font-size: 32px;
  text-align: end;
  padding-right: 16px;
}

.fixed-footer a{
  display: block;
  line-height: 60px;
  transition: all 0.5s;
}

.fixed-footer a:hover{
  color: darkgray;
}

#back{
  position: fixed;
  line-height: 75px;
  bottom: 0;
  right: 16px;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

@media (max-width: 1000px){
  .post1,.post2,.post3,.post4{
    width: 400px;
  }

  .introduce{
    width: calc(100% - 400px - 25px);
  }

  .header-menu{
    display: none;
  }
  
  .sp-menu{
    opacity: 1;
  }
  
  .sp-menu #open{
    font-size: 32px;
    line-height: 75px;
    padding-right: 16px;
    cursor: pointer;
  }
  
  .sp-menu #open.hide{
    display: none;
  }
  
  .overlay{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
    text-align: end;
    padding: 90px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
  }
  
  .overlay.show{
    opacity: 1;
    pointer-events: auto;
  }
  
  .overlay #close{
    position: absolute;
    top: 24px;
    right: 18px;
    font-size: 35px;
    cursor: pointer;
    Z-index: 10;
  }
  
  .overlay ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .overlay li{
    margin-top: 24px;
    opacity: 0;
    transform: translate(16px);
    transition: opacity .3s, transform .3s;
  }

  .overlay.show li{
    opacity: 1;
    transform: none;
  }

  .overlay.show li:nth-child(1) {
    transition-delay: .1s;
  }

  .overlay.show li:nth-child(2) {
    transition-delay: .2s;
  }

  .overlay.show li:nth-child(3) {
    transition-delay: .3s;
  }

  .overlay.show li:nth-child(4) {
    transition-delay: .4s;
  }

  .overlay.show li:nth-child(5) {
    transition-delay: .5s;
  }
}

@media (max-width: 700px){
  .article{
    display: block;
    width: 90%;
  }

  .post1,.post2,.post3,.post4{
    width: 100%;
    margin: 0 auto;
  }

  .introduce{
    width: 100%;
    margin: 0 auto;
  }

  .btn-wrapper .btn {
    width: 100%;
    text-align: center;
  }

  .btn-wrapper p {
    text-align: center;
  }

  .facebook {
    margin-bottom: 10px;
  }

  main{
    padding-top: 180px;
  }

  .title h1{
    font-size: 30px;
  }
  
  .title h2{
    font-size: 23px;
  }

  .profile p{
    padding: 10px 30px;
  }

  .message{
    display: block;
  }

  .icon{
    width: 100%;
    margin-top: 50px;
  }

  .column{
    width: 100%;
  }

  .form{
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }
}